amply==0.1.2
click==7.1.2
docutils==0.16
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
pip==20.1.1
PuLP==2.3
pyparsing==2.4.7
setuptools==47.1.0
Werkzeug==1.0.1
flask-cors==3.0.8
 